.round-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  .icon-with-number {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  
  .icon-with-number .fa-circle {
    font-size: 2rem;
    color: #28a745;
  }
  
  .icon-with-number .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: white;
  }
  
  .round-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-title-container {
    display: flex;
    align-items: center;
  }
  
  .card-time {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
    